[user]
    name = Matheus Costa
    email = matheusoliveiracos@gmail.com
 
[init]
    defaultBranch = main

[alias]
    st = status -sb
    ci = commit -v
    a = add
    aa = add --all
    ps = push -u
    psho = push -u origin HEAD
    pl = pull
    co = checkout
    cob = checkout -b
    cof = !git checkout $(git branch --sort=-committerdate | fzf --reverse)
    lg = log --abbrev-commit --left-right --name-only
    hist = log --pretty=format:\"%h %ad (%ar) | %s%d [author: %an]\" --graph --date=short
    tree = log --all --decorate --oneline --graph
    show-last   = show --pretty="format:" --name-only
    files-commited = log --graph --name-only --oneline
    this = !git init && git add . && git commit -m \"First commit\"
    branches = branch -a --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\"
    undo = reset --soft HEAD^

[color]
    ui = true
    branch = auto

[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX

[pull]
    ff = only
 
[push]
    default = simple

[fetch]
    prune = true

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[i18n]
    commitencoding = utf-8
    logoutputencoding = utf-8

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    unmerged = red

[github]
    user = mathocosta

# additional configurations
# [includeIf "gitdir:~/Developer/github/"]
#   path = ~/.gitconfig-github
# [includeIf "gitdir:~/Developer/<path>/"]
#   path = ~/.gitconfig-<path>

